body{
  background-image: url('img/right-parallax.png');
  background-repeat: no-repeat;
  background-size:100% 100% ;
}

#summer-text{
  border: 2px sloid black;
  background-color: #603727;
  color:white;
  border-width: 100%  ;
}


#backGroundFit {
  background-image: url('img/summer-sensations.jpg');
  background-repeat: no-repeat;
  background-size:100% 100% ;
}

#donut-text{
  border: 2px sloid black;
  background-color: #da2283;
  color:white;
  border-width: 100%;
}

#backGroundFit2 {
  background-image: url('img/featured-donuts.jpg') ;
  background-repeat: no-repeat;
  background-size:100% 100%;
}


#background3{
  background-image: url('img/bg-btm.png') ;
  background-size:95% 100% ;
  color: #da2283;
}

#the-menu{
  background-image: url('img/footer-bg.png') ;
  background-repeat: no-repeat;
  background-size:100% 100% ;
  color:rgb(255, 255, 255);
}




div.icon .fa{
  border: 2px solid grey;
  background-color: grey;
  color:white;
}

a{
  color: #da2283;
}
.carousel-caption{
   top: 20%;
   left: 0.2%;
   float: left;
}
.carousel-caption button{
  border: hidden;
  background-color: #da2283;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: #da2283;
}

p{
  color:#da2283;
  font-size: 8px;
}

/* Text styling*/

.home{
  color:#f22691; 
  font-weight:bold; 
  font-size:14px;
}
.menu, .about, .loyalty,.store,.contactUs, .SIGN{
  color:#f22691; 
  font-weight:bold; 
  font-size:14px;
}
.indulge{
  font-family:coronet;
  font-weight:bold;
  font-size: 25px;
  transform: skewY(7deg);
  -webkit-transform: skewY(-9deg); 
  color:#f22691; ;float:right;
}

.intheM{
  color:#F8750F;
  float: left; 
  font-weight:bold; 
  font-size: 18px;
}
.bbf{
  text-align: center;
  color:	#5E5847;
  font-weight:bold;
}

.summer{
  font-family:Cambri;
  font-size:19px; 
  transform: skewY(7deg);
  -webkit-transform: skewY(-7deg);
  line-height: -20px;
}

.sens{
  font-size:23px; 
  line-height: 50px;
}

.caramel{
  color:#f22691; 
  line-height: 20px;
}

.view1{
  font-family:sans-serif; 
  font-size:8px; 
  line-height: 40px;
   color:white
}

.featured{
  font-family:Cambri;
  font-size:19px; transform: skewY(7deg);
  -webkit-transform: skewY(-7deg);
  line-height: -20px;
}

.donuts{
  font-size:19px; 
  line-height: 50px;
}

.dsize{
  font-size:12px;
}

.view2{
  font-family:sans-serif; 
  font-size:9px; 
  line-height: 40px;
}

.instagram{
  font-family:'Helvetica Neue', sans-serif; 
  font-size:30px; 
  color:#f22691; 
  font-weight:bold;
}

.use{
  font-family:'Lucida Sans'; 
  font-weight:bold; 
  font-size:15px; 
  text-align:center;
}

.DDS, .theM, .food, .bev{
  font-family:Arial; 
  font-weight:bold;
  font-size:15px;
}






























  